{% extends "full.html" %}

{% block title %}{{ tournament.name }} - details{% endblock %}

{% block content %}

{% load bootstrap3 %}

<div class="row">
    <h1>{{ tournament.name }}</h1>
</div>

<div class="row" style="margin-top:10px;">
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>Description</dt>
            <dd>{{ tournament.description }}</dd>
            <dt>Limit</dt>
            <dd>{{ count }}/{{ tournament.limit }}</dd>
            <dt>Deadline</dt>
            <dd>{{ tournament.deadline }}</dd>
            <dt>Start date</dt>
            <dd>{{ tournament.date }}</dd>
            <dt>Sponsors</dt>
            {% for item in tournament.sponsors.all %}
                <dd>{{ item.name }}</dd>
            {% endfor %}
        </dl>
    </div>
    <div class="col-md-4">
        <img src="https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=300x300&maptype=roadmap
&markers=color:blue|{{ tournament.latitude }},{{ tournament.longitude }}" class="img-rounded" />
    </div>
</div>

{% if user.is_authenticated %}
    {% if enrolled == 0 %}
        <a class="btn btn-default" role="button" href="{% url 'football:join' tournament.id %}">Enroll</a>
    {% elif enrolled > 0 %}
        <a class="btn btn-default btn-lg disabled" role="button">Enroll</a>
    {% endif %}
    {% if user == tournament.organizer %}
        <a class="btn btn-default" role="button" href="{% url 'football:edit' tournament.id %}">Edit</a>
    {% endif %}
{% endif %}

{% endblock %}