{% extends "form.html" %}

{% block title %}Sign up{% endblock %}

{% block form %}

{% load widget_tweaks %}
{% load elements_tags %}

<h2 class="form-signin-heading">Create an account</h2>
<form class="form-signin" method="post" action="">
    {% csrf_token %}
    <p class="help-block">
        After all, you'll be sent an email with instructions on how
        to finish your registration.
    </p>
    {% form_element form.first_name 'text' %}
    {% form_element form.last_name 'text' %}
    {% form_element form.email 'text' %}
    {% form_element form.password1 'password' %}
    {% form_element form.password2 'password' %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>

{% endblock %}
